<div class="card">
    <div class="card-header bg-dark text-white">
        <h4 class="m-0">Listado de Encuestas <span *ngIf="surveys?.length > 0">({{ surveys.length }})</span></h4>
    </div>
    <div class="card-body text-dark">
        <div class="row form-group">
            <div class="col-3">
                <button class="btn btn-success" type="button" [routerLink]="['/parametros/encuesta']">
                    <i class="fa fa-plus"></i>
                    Nuevo
                </button>
            </div>
        </div>
        <div class="row fadeIn" *ngIf="cargando">
            <div class="col-sm-6 col-md-12 text-center">
                <div class="alert alert-info">
                    <strong>Cargando...</strong>
                    <br>
                    <i class="fa fa-refresh fa-spin fa-2x"></i>
                    <br>
                    <span>Espere por favor</span>
                </div>
            </div>
        </div>
        <div *ngIf="surveys?.length == 0" class="alert alert-info">
            No se han encontrado registros...
        </div>
        <div class="table-responsive" *ngIf="surveys && surveys.length > 0">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>codSurvey</th>
                        <th>title</th>
                        <th>description</th>
                        <th>active</th>
                        <th>creationDate</th>
                        <th>codUser</th>
                        <th>createdAt</th>
                        <th>updatedAt</th> 
                         <th>Editar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let survey of surveys | slice: (currentPage * pageSize) - pageSize :currentPage * pageSize">
                        <td>{{ survey.codSurvey }}</td>
                        <td>{{ survey.title }}</td>
                        <td>{{ survey.description }}</td>
                        <td>{{ survey.active ? 'SI' : 'NO' }}</td>
                        <td>{{ survey.creationDate | date:'dd/MM/yyyy'}}</td>
                        <td>{{ survey.codUser }}</td>
                        <td>{{ survey.createdAt | date:'dd/MM/yyyy, h:mm a' }}</td>
                        <td>{{ survey.updatedAt | date:'dd/MM/yyyy, h:mm a'}}</td>
                         <td>
                            <button class="btn btn-info btn-circle" [routerLink]="['/parametros/encuesta', survey.codSurvey]" type="button">
                                <i class="fa fa-pencil"></i>
                            </button>
                        </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
        <div class="container" *ngIf="surveys?.length > 0">
            <ngb-pagination [size]="tamanhoPag" [collectionSize]="surveys.length" [(page)]="currentPage" [maxSize]="4" [boundaryLinks]="true">
                <ng-template ngbPaginationPrevious>&laquo;</ng-template>
                <ng-template ngbPaginationNext>&raquo;</ng-template>
                <ng-template ngbPaginationFirst>Primera</ng-template>
                <ng-template ngbPaginationLast>Última</ng-template>
            </ngb-pagination>
        </div>
    </div>
</div>
